/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

.page {
  color: var(--text-color, #f1b2ce);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-color, #000028);
}

/* Секция общих элементов */

.main-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  color: var(--main-header-color, #db00ff);
  text-shadow: 4px 4px 0 #ff0070;
}

.title__decor {
  color: var(--main-color, #000028);
  background-color: var(--text-background-color, #ff0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section {
  padding-block-start: 80px;
}

.section:first-of-type {
  padding-block-start: 60px;
}

.section:last-of-type {
  padding-block-end: 60px;
}

.card__list {
  display: grid;
  gap: 20px;
  transition: all 500ms ease; /* Посмотреть */
}

.section__header {
  color: var(--section-header-color, #ff0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.article__text {
  padding-block-start: 10px;
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 #ff0070;
}

.text-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-right: 1px solid var(--menu-main-color);
  border-top: 1px solid var(--menu-main-color);
}

.decorated-zone::before {
  position: absolute;
  content: '';
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-left: 1px solid var(--menu-main-color);
  border-bottom: 1px solid var(--menu-main-color);
}

/* Секция заголовка */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 768px;
  padding: 20px;
}

.header__decorated-text {
  position: absolute;
  block-size: 26px;
  inline-size: 33px;
  right: 48px;
  top: 20px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  color: var(--text-background-color);
}

.header__decorated-text::after {
  position: absolute;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--text-background-color);
  left: 43px;
  top: 8px;
  box-shadow: 0px 0px 4px 2px var(--text-background-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 12px;              /* В макете 10, но уплывает в Pixel Perfect */
  flex-direction: row;
  justify-content: center;
}

.header__theme-menu-button {
  padding: 1px 12.5px 5px;
  background-color: transparent;
  text-transform: lowercase;
  line-height: 18px;
  font-size: 18px;
  color: var(--menu-main-color, #ff0070);
  border: none;
  transition: outline 0.6s;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-main-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-buttons-outline-color);
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  border-bottom: 1px solid var(--menu-main-color, #ff0070);
}

.header__title-text {
  margin-inline-start: -20px;
}

.header__text {
  margin-inline-start: calc(100% / 2);
  margin-block-start: auto;
  margin-block-end: auto;
}

/* Секция основного контента */

.content {
  padding: 0 20px 0;
}

.card__list-first {
  grid-template: repeat(2, 1fr) / minmax(236px, 1fr) 1fr 1fr;
}

.card__header-first {
  grid-row: 1 / span 2;
}

.card__section-first {
  grid-column: 2 / span 2;
}

.card__list-second {
  grid-template: repeat(2, min-content) / repeat(3, 1fr);
}

.card__header-second {
  grid-column: 1 / span 3;
}

.section__header-second {
  padding-inline-end: calc(((100% - 40px) / 3) * 2 + 40px);
}

.card__list-third {
  grid-template: repeat(6, min-content) / minmax(236px, 1fr) 1fr 1fr;
}

.card__section-third {
  grid-column: 2 / span 2;
}

.title__decor-third {
  font-weight: 400;
}

.section-pictures {
  display: grid;
  gap: 20px;
  grid-template: repeat(4, min-content) / repeat(3, 1fr);
}

.title__standalone {
  grid-column: 1 / -1;
}

.card__img {
  inline-size: 100%;
  min-block-size: 100%;
  object-fit: cover;
}

.card__img-first {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.card__img-second {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}

.card__img-third {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
}

.card__img-fourth {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.card__img-fifth {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}

/* Секция футера */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 768px;
  padding: 20px;
}

.footer__title-text {
  text-shadow: 2px 2px 0 #ff0070;
}

/* Секция медиазапросов */

@media (560px < width <= 800px) {
  .header {
    min-block-size: 1024px;
  }
  .header__theme-menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .header__theme-menu {
    align-self: center;
  }
  .main-title {
    line-height: 95.7px;
  }
  .card__list-second {
    grid-template: repeat(4, min-content) / 100%;
  }
  .card__header-second {
    grid-column: 1 / span 1;
  }
}

@media (width <= 560px) {
  .header {
    padding: 10px;
    min-block-size: 668px;
  }
  .header__title-text {
    margin-inline-start: 0;
  }
  .main-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
  }
  .header__theme-menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .header__theme-menu {
    align-self: center;
  }
  .header__text {
    margin-inline-start: 0;
  }
  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }
  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }
  .header__decorated-text {
    right: 38px;
    top: 10px;
  }

  .content {
    padding: 0 10px 0;
  }

  .card__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 500ms ease; /* Посмотреть */
  }

  .section {
    padding-block-start: 50px;
  }
  
  .section:first-of-type {
    padding-block-start: 40px;
  }
  
  .section:last-of-type {
    padding-block-end: 40px;
  }

  .section-pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}